 main-color{
   color:#64a19d
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



body{
    letter-spacing: 0.0625em;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.color{
    color: black;
}

/* .h-100{
    height: 100% !important;
} */



/****************************************************** Start Home ******************************************************************/ 

 .navbar-nav a{
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 2rem 1.5rem;
    z-index: 1030;
    font-family: 'Bitter', serif!important;
    font-size: 20px;
}

.pad{
    transition: all .7s!important;
    padding: 0px 30px!important;
    border-bottom: 0.25rem solid transparent;
}

#Home{
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../image/bg-masthead.jpg");
    
}

#Home  .btn{
    background-color: #64a19d;
    color: white;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    /* box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%) !important; */
    cursor: pointer;

}

#Home  .btn:hover{
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: black;
    font-weight: bold;
}

 .navbar-brand img{
    width: 35%;
    padding: 0.3rem 0;
    color: rgba(255, 255, 255, 0.5)!important;
}


#Home .layer{
    /* background-color:rgba(0, 0, 0, 0.4); */
    /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
}

#Home  .layer h1{
    font-size: 6rem;
    line-height: 4rem;
    /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
    color: rgba(255, 255, 255, 0.5) !important;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.0900em;

}

#Home  .layer h2{
    color: rgba(255, 255, 255, 0.5) !important;
    margin-top: 0.9rem !important;
    font-size: 1rem;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 20rem;
    letter-spacing: 0.0625em;
    font-family: 'Varela Round', sans-serif;
}
 
/******************************************************************* End Home  ******************************************************/ 
/* Start Mneu */

.open-menu{
    transform: scale(1) !important;
}
.close-menu
{
	transform: translateX(-100%) !important;
}
.menu{
    position: fixed;
    top: 20%;
    left: 0;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    background-color: #adb5bd;
    z-index: 999999999999;
    font-size: 30px;
    transition: all 0.6s ease;
}

.mneu-tap-item{
   position: fixed;
   top: 20%;
   left: 0;
   /* background-color: black; */
   transform: translateX(-100%);
   transition: all 0.6s ease; 
}

.mneu-tap-item ul{
    padding-left: 30px;
    overflow: hidden;
    list-style:none;
    
    

    
    
}
.mneu-tap-item li{
    opacity: 0; 
     
}



.mneu-tap-item ul li a{
    color:white!important;
    font-size: 20px;
    display: inline;
    margin-right: 30px;
    
    

}
/* End Mneu */

/****************************************************************** Start About ******************************************************/
#About{
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
    box-sizing: border-box;
    padding-top:  4rem;
    
    
}

#About .img-fluid{
    max-width: 80%;
    height: auto;
}
#About a{
    color: #64a19d!important;
}

/******************************************************************* End About ********************************************************/
/****************************************************************** Start Project******************************************************/
#Project{
    padding: 10rem 0;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

#Project .container{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    
}

#Project .featured-text{
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
    text-align: center !important;
    
    
}

#Project .Big{
     margin-left: 25px; 
}

#Project img{
    /* margin-left: 25px; */
    vertical-align: middle;
    
}

#Project .img-fluid{
    max-width: 100%;
    height: auto;
    
}

#Project .bg-black{
    background-color: black;
    display: block !important;
}

#Project .project-text{
    padding: 5rem;

}

/********************************************************* End Project ******************************************************************/

/******************************************************** Start SignUp *******************************************************************/
#Signup{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("../image/bg-signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 10rem 0;
}



#Signup  input{
padding: 1.25rem 2rem;
height: auto;
font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 80%;
text-transform: uppercase;
letter-spacing: 0.15rem;
border: 0;

}


#Signup .col-auto button{
    width: auto;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    
}

/************************************************************** End SignUp ************************************************************/

/************************************************************* Start Contact  **********************************************************/
#Contact{
    padding-top: 5rem;
}

#Contact .container{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    max-width: 1140px;
}

#Contact .card{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

#Contact .card .card-body{
    padding: 1rem 1rem;
}

#Contact .card .card-body h4{
    font-size: 0.8rem;
}

#Contact .card .card-body hr{
    width: 3rem;
    border-color: #64a19d;
    border-width: 0.25rem;
}

#Contact .card .card-body .small{
    font-size: 0.875em;
    
}

#Contact .card .card-body .small a{
    color: #64a19d!important ;
}

#Contact .card .card-body .fas{
    color: #64a19d!important ;
}

#Contact .socail a{
    text-align: center;
    height: 3rem;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3)!important
}

#Contact .socail a:hover{
    color: #adb5bd!important;
}

#Contact .socail
{
    margin-top: 3rem;
}

/********************************************************************* End Contact ****************************************************/

/****************************************************************** Start footer *******************************************************/

#footer {
    padding: 5rem 0;
}

/******************************************************************* End footer *********************************************************/